html {
  scroll-behavior: smooth;
}

.first-page {
  background-image: url(src/header-shapes-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-container {
  display: flex;
  border: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.logo {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #6070ff;
}

.menu-icon {
  width: 24px;
  height: 24px;
}

.headline {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}

.title {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #172b4d;
}

.paragraph {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #344563;
}

.line {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #7f8cff;
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-inline-start: 10px;
}

ul {
  list-style-type: none;
}

.twitter {
  width: 20px;
  height: 20px;
}

.linkedin {
  width: 20px;
  height: 20px;
}

.msign {
  width: 20px;
  height: 19px;
}

.github {
  width: 18px;
  height: 20px;
}

.finger {
  width: 15px;
  height: 20px;
}

.works-section {
  display: grid;
  row-gap: 88px;
  justify-content: center;
  padding: 60px 24px;
  list-style-type: none;
}

.project {
  padding: 16px 16px 24px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  background-color: #fff;
}

.description {
  padding: 16px;
}

.workstitle {
  width: 295px;
  height: 36px;
  font-family: Poppins, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: #172b4d;
}

.info {
  display: flex;
  align-items: center;
  column-gap: 32px;
  margin-top: -30px;
}

.subTitle {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #344563;
  margin-left: -8px;
}

.infoContainer {
  display: flex;
  margin-left: -60px;
  list-style-type: none;
}

.role {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
  margin-right: 10px;
}

.role::before {
  content: url(src/Counter.png);
  width: 14px;
  padding-right: 5px;
}

.year {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
  margin-right: 10px;
}

.year::before {
  content: url(src/Counter.png);
  width: 14px;
  padding-right: 5px;
}

.projectDescription {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  margin-left: -10px;
  color: #344563;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  list-style-type: none;
}

.tags {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 16px 0 29px -10px;
}

.tagsFlex {
  display: flex;
  margin-left: -40px;
}

.html {
  padding: 4px 12px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  margin-right: 10px;
  color: #6070ff;
  background: #ebebff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.ruby {
  padding: 4px 12px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  margin-right: 10px;
  color: #6070ff;
  background: #ebebff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.css {
  padding: 4px 12px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  margin-right: 10px;
  color: #6070ff;
  background: #ebebff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.javascript {
  padding: 4px 12px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  margin-right: 10px;
  color: #6070ff;
  background: #ebebff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

button {
  background-color: white;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
}

.viewProject {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 17px;
  font-weight: 500;
  border-radius: 8px;
  padding: 12px;
  border: 1px solid #6070ff;
  color: #396df2;
  background-color: #fff;
}

.resumeButton {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  border-radius: 8px;
  padding: 12px;
  border: 1px solid #6070ff;
  color: #396df2;
  background-color: #fff;
}

.about-section {
  padding: 24px;
}

.skills {
  margin-top: 6px;
  padding-top: 24px;
  background-color: #fff;
}

.skillsDropdown {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 23px 40px 23px 0;
}

.skillsTitle {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.skillsDesc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 9px 30px 0 20px;
}

.skillsDescList {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: -37px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  background-color: #f7f7f9;
}

.skillsListTitle {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin-left: 10px;
  line-height: 20px;
  color: #253858;
}

.contact-form {
  background-image: url(src/Contact-me.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactContainer {
  background-image: url(src/contact-shapes-mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.form-title {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #fff;
  text-align: center;
  padding-top: 60px;
}

.content {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #ebebff;
  text-align: center;
  margin: 20px;
}

#name,
#email {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 8px;
  width: 90%;
}

#message {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  background-color: #fff;
  font-weight: 500;
  font-size: 17px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  width: 90%;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.submitButton {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 17px;
  font-weight: 500;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #6070ff;
  padding: 12px;
  color: #396df2;
}

.navDesk {
  display: none;
}

.blur {
  filter: blur(8px);
}

.vanish {
  display: none;
}

.bodyscroll {
  overflow: hidden;
}

.mobileNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  margin-top: -10px;
  margin-right: -40px;
  background-color: #4856db;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: 0.7;
  text-decoration: none;
}

.closeBtn {
  position: absolute;
  top: 19px;
  right: 33px;
  font-size: 36px;
  margin-top: 12px;
  margin-right: 20px;
}

.link {
  text-decoration: none;
  color: white;
  padding-left: 30px;
}

.mobileNav li {
  padding: 8px 8px 8px 3px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  text-decoration: none;
  list-style: none;
  font-weight: 600;
  margin-top: 10px;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.mobileNavActive {
  width: 100%;
  margin: 0;
  padding-left: 40px;
}

@media screen and (max-width: 480px) {
  .card5,
  .card6,
  .card7,
  .card8 {
    display: none;
  }

  /*.image {
    display: none;
  }*/
}

@media screen and (min-width: 992px) {
  .menu-icon {
    display: none;
  }

  .first-page {
    background: none;
  }

  .logo {
    width: 600px;
    padding-top: 20px;
    margin-left: 140px;
    position: absolute;
  }

  .header-container {
    display: flex;
    position: relative;
  }

  .navDesk {
    display: flex;
    width: 50%;
    margin-left: 50%;
    align-items: center;
    justify-content: center;
  }

  .menuDesk {
    display: inline;
  }

  .menuDesk a {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    list-style: none;
    margin-right: 16px;
    text-decoration: none;
  }

  .headline {
    background-image: url('desk/Headerbg.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 140px;
    padding-bottom: 150px;
    border-bottom-left-radius: 165px;
    width: 90%;
    height: auto;
  }

  .head {
    width: 100%;
    height: auto;
    background-color: white;
  }

  .title {
    width: 600px;
    font-size: 3.2rem;
    padding-top: 15%;
    line-height: 60px;
  }

  .paragraph {
    width: 70%;
    margin-top: -35px;
    line-height: 28px;
    font-size: 20px;
  }

  .mobileimg {
    display: none;
  }

  .card2,
  .card3,
  .card4,
  .card1 {
    display: none;
  }

  .project {
    display: grid;
    column-gap: 30px;
  }

  .image {
    width: 544px;
    height: 448px;
    grid-area: 1/1/3/2;
  }

  .image:hover {
    transform: scale(1.3);
  }

  .description {
    grid-area: 1/2/3/3;
    gap: 10px;
  }

  .imageReverse {
    width: 544px;
    height: 448px;
    grid-area: 1/2/3/3;
  }

  .imageReverse:hover {
    transform: scale(1.3);
  }

  .descriptionReverse {
    grid-area: 1/1/3/2;
    padding-left: 30px;
    row-gap: 20px;
  }

  .about-section {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 2px;
  }

  .about-hero {
    margin-left: 60px;
    grid-column: 1/4;
  }

  .about-hero h2 {
    font-size: 1.7rem;
    padding-bottom: 10px;
  }

  .about-hero p {
    font-size: 1.1rem;
  }

  .mySkills {
    grid-column: 4/9;
  }

  .aboutContainer {
    flex-direction: row;
    border-top-right-radius: 80px;
    background-color: #fff;
  }

  .aboutMyself {
    width: 40%;
    margin-top: -110px;
    padding: 48px;
    margin-left: 100px;
  }

  .about {
    margin-left: 18px;
    width: 50%;
    height: 16%;
  }

  .skillsTitle {
    width: 80%;
  }

  .skillsDescList {
    width: 100px;
    height: 100px;
    margin-left: 0;
    margin-right: 10px;
    padding: 20px;
    flex-direction: column;
  }

  .skillsDesc {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 8px;
    margin-left: -77px;
    padding: 9px 30px 0 80px;
  }

  .contact-form {
    background-image: url('desk/contact-background-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .contactContainer {
    background-image: url('desk/contactshapes.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
  }

  .content {
    width: 45%;
    margin: 0 auto;
  }

  .inputs {
    width: 50%;
    margin: 0 auto;
  }

  .inputs li input {
    width: 100%;
  }

  .inputs .submitButton {
    width: 25%;
    margin-left: 35%;
  }

  #name:hover {
    transform: translate(10px);
  }

  #email:hover {
    transform: translate(10px);
  }

  #message:hover {
    transform: translate(10px);
  }
}
